h1,
h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}

.nueva {
    text-decoration: line-through;
}

.lista-tareas {
    display: flex;
}

.editar-tarea,
.seleccionar-tarea,
.borrar-tarea {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: .8rem;
}

.editar-tarea-form {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.editar-tarea,
.editar-tarea:hover {
    padding: .5rem;
    color: #ffffff;
    background-color: rgb(38, 100, 216);
    border-radius: 100%;
}

.seleccionar-tarea,
.seleccionar-tarea:hover {
    padding: .5rem;
    color: #ffffff;
    background-color: green;
    border-radius: 100%;
}

.borrar-tarea,
.borrar-tarea:hover {
    padding: .5rem;
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    border-radius: 100%;
}